<h2>The Ponies of Ponyville</h2>

<div>
  <% @ponies.each do |pony| %>
    <div>
      <li class= "pony_link"><%= link_to pony.name, pony %></li>
      <div class="pony_show>">
        <p><%= render 'show', pony: pony %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add a Pony', new_pony_path %>
